[submodule "pluto"]
	path = pluto
	url =  https://github.com/kumasento/pluto
[submodule "example/polybench-golden"]
	path = example/polybench-golden
	url = https://github.com/MatthiasJReisinger/PolyBenchC-4.2.1.git
